<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class = "mainBody">
      <h1>My to-do List</h1>
      <h2>Click on a task to delete! :)</h2>
      
      <form id="enter">
          <input type="text" id="task" placeholder="Daily task list...">
          <button type="submit" id="addBtn">Add Task</button>
          <input type="number" id="index" placeholder="Task number here...">
          <input type="text" id="item" placeholder="Task name here...">
          <button type="button" id="updateBtn">Update Task</button>
          <!--input type="text" id="deleteIndex" placeholder="Task name here..."-->
          <!--button type="button" id="deleteBtn">Delete Task</button-->
      </form>

    </div>
    <!--An unordered list element that holds all tasks-->
    <ul id="unorderlist"></ul>

    <script>
    	$(document).ready(function() {
    	var close = document.getElementsByClassName("close");
    	// var i = 0;
			
        $('#enter').on("submit",function(event) {
        	var task = $('#task').val();
					$('#task').val("");
        	$.ajax({
    				type : "POST",
    				url : "/todo/create",
    				data: JSON.stringify( task ),
            contentType: 'application/json',
    				success: function(result) {
        				console.log(result['result']);
        				$('#unorderlist').append('<li id ='+result.task[0]+'>'+result.task[1]+"</li>");
  							// var span = document.createElement("SPAN");
								// var txt = document.createTextNode("\u00D7");
  							// span.className = "close";
 								// span.appendChild(txt);
  							// $("#"+result.task[0]).append(span);
  							// var close = document.getElementsByClassName("close");
   						  // var i = 0;
  							// for (i = 0; i < close.length; i++) {
    						// 	close[i].onclick = function(){
    						// 		index = $('.close').index(this)
    						// 		deleteTask(index);
    							// }
    							// }
    					
				    }
          });
        });
        	$.ajax({
    				type : "GET",
    				url : "/todo/read",
    				success: function(result) {
							console.log("what's wrong");
							for (var i = 0; i<result.task.length;i++){
								$('#unorderlist').append('<li id ='+result.task[i][0]+'>'+result.task[i][1]+"</li>");	
							}
				    }
          });
        $('#updateBtn').click(function() {
        	var task = $("#item").val();
        	var index = $("#index").val();
					var idOfItem = $('li').get(index-1).id;
					console.log(idOfItem);
					console.log(task);
        	$.ajax({
    				type : "PUT",
    				url : "/todo/update",
    				data: JSON.stringify({"task":task, "index":idOfItem}),
            contentType: 'application/json',
    				success: function(result) {
        			console.log(result);
        			var ul = document.getElementById("unorderlist");
							var items = ul.getElementsByTagName("li");
							var li = items[Number(index)-1];
							li.replaceChild(document.createTextNode(task), li.childNodes[0]);
						//	li.appendChild(document.createTextNode(index+". "+task));
				    }
          });
        });
        //this is for delete item
				$("#unorderlist").on("click","li",function(event){
					// var close = document.getElementsByClassName("close");
        	var deleteIndex = $('li').get($(this).index()).id;
					console.log(deleteIndex);
        	$.ajax({
    				type : "DELETE",
    				url : "/todo/delete",
    				data: JSON.stringify(deleteIndex),
            contentType: 'application/json',
    				success: function(result) {
        			console.log(result);
    					// var div = this.parentElement;
    					// var ul = document.getElementById("unorderlist");
    					// // ul.removeChild(ul.childNodes[Number(index)])
							$("#"+deleteIndex).remove();
				    }
					});
        });
			
      });
    </script>

  </body>
</html>
